<table id='assignments' class='table table-striped tablesorter'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Github repo</th>
      <th>Assigned date</th>
      <th>Due date</th>
      <th>% turned in</th>
      <th>% reviewed</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.title, assignment %>
	<br/>
        <%= assignment.description %>
	</td>
        <td><%= link_to "#{assignment.github_repo.truncate(25)} (github)" ,
	"http://www.github.com/#{assignment.github_login}/#{assignment.github_repo}" %></td>
        <td><%= format_date(assignment.assigned_date) %></td>
        <td><%= format_date(assignment.due_date) %></td>
	<td><%= format_pct(Float(assignment.students.uniq.length) / @class_roster.length) %> %</td>
	<td><%= if assignment.contributions.length > 0
			format_pct(Float(assignment.contributions.where(status: 'open').length) / assignment.contributions.length, true) 
		else
			0
		end
	%>% </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Assignment', new_assignment_path %>
