<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= link_to  @assignment.title, 
  "http://www.github.com/#{@assignment.github_login}/#{@assignment.github_repo}"  %> <br/> <small> 
  <%= @assignment.description %>
  </small></h1>
</div>

<p>
  <strong>Assigned date:</strong>
  <%= @assignment.assigned_date %>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

<p>

  <table class='table table-striped'>
    <thead>
      <tr>
	<th>Student</th>
	<th>Pull Request Status</th>
	<th>Date turned in</th>
      </tr>
    </thead>

    <tbody>
      <% @contributions.each do |contribution| %>
      <tr>
	<td> 
	  <%= link_to contribution.student.name, "#{contribution.url}/files", target: "_blank"  %>
	</td>
	<td>
	  <%= contribution.status %> 
	</td>
	<td>
	  <%= format_date(contribution.contribution_created_at) %> 
	</td>
      </tr>
      <% end %> 
    </tbody>
  </table>
    
  </ul>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Destroy', @assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> | 
<%= link_to 'Back', assignments_path %>
