<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= link_to  @assignment.title, 
  "http://www.github.com/#{@assignment.github_login}/#{@assignment.github_repo}"  %> <br/> <small> 
  <%= @assignment.description %>
  <%= link_to 'Back', assignments_path, class: "pull-right"%>
  </small></h1>
</div>

<p>
  <strong>Assigned date:</strong>
  <%= @assignment.assigned_date %>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

<table id='completed-students' class='table table-striped tablesorter'>
  <thead>
    <tr>
      <th>Student</th>
      <th>Pull Request Status</th>
      <th>Date turned in</th>
    </tr>
  </thead>

    <tbody>
      <% @contributions.each do |contribution| %>
      <tr>
	<td> 
	  <%= link_to contribution.student.name, contribution.student %>
	</td>
	<td>
	  <%= link_to "#{contribution.status} (github)", "#{contribution.url}/files", target: "_blank"  %>
	</td>
	<td>
	  <%= format_date(contribution.contribution_created_at) %> 
	</td>
      </tr>
      <% end %> 
    </tbody>
  </table>

<table id='missing-students' class='table table-striped tablesorter'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github login</th>
    </tr>
  </thead>
  <tbody>
    <% @missing_students.each do |student| %>
    <tr>
      <td><%= link_to student.name, student  %></td>
      <td><%= student.github_login %></td>
    </tr>
    <% end %>
  </tbody>
</table>
    
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Destroy', @assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td> | 
<%= link_to 'Back', assignments_path %>
