<!DOCTYPE html>
<html>
<head>
  <title>GitToWork</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='row-fluid'>
<div class='span1 masthead align-right'>
  <strong>GtW</strong>
</div>
<div class='span10'>
<div class='navbar'>
  <ul class="nav nav-tabs nav-buffer">
    <%= render 'navbar' %>
  </ul>
</div>
</div>
</div>


<div class='row-fluid'>

<div class='span10'>
  <%= yield %>
</div>
</div>

</body>
</html>
